h1,
h1 + p {
  text-align: center;
}
h1 {
  margin-top: 5rem;
}

main {
  background-color: white;
  width: min(90%, 500px);
  height: fit-content !important;
  min-height: auto !important;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.container {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}

#loginForm {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#loginForm label {
  cursor: pointer;
}
#loginForm label,
#loginForm input {
  display: block;
  width: 100%;
}
#loginForm input {
  outline-color: rgb(45, 45, 45);
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid rgb(197, 197, 197);
}

#btn-login {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(45, 45, 45);
  padding: 0.5rem;
  transition: background-color 0.2s ease;
}
#btn-login:hover {
  background-color: rgb(70, 70, 70);
}

.forgot {
  color: rgb(45, 45, 45);
  transition: color 0.2s ease;
}
.forgot:hover {
  color: rgb(70, 70, 70);
}


/* === MODO OSCURO PARA EL LOGIN === */
body.modo-oscuro .login-container{
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(140, 140, 140, 0.1);
  border: 1px solid #333333 !important;
}


body.modo-oscuro .forgot {
  color: rgb(0, 115, 255);
  transition: color 0.2s ease;
}

body.modo-oscuro #btn-login {
  color:white;
  background-color: #007bff;
  border-color: #007bff;
}