main {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  min-height: 100vh;       /* Que ocupe toda la altura */    /* Opcional, para diferenciar fondo */
}

#elementos-product-info{
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
}

/* productos relacionados */

.productos-rel {
  margin-top: 30px;
}

.productos-rel-container {
  display: flex; 
  gap: 20px;
}

.producto-relacionado {
  cursor:pointer; 
  border:1px solid #ccc; padding:10px; 
  border-radius:8px; 
  text-align:center;
}

.img-producto {
  width:100px; 
  height:100px; 
  object-fit:cover;
}

.comment {
  word-break: break-all;
}
